@import "~@src/style/index.scss";
@import "~@src/style/var.scss";
.header{
   height:10vh;
   @extend .clear_fix;
   position: relative;
   &_info{
      position: absolute;
      right:60px;
      top: 50%;
      transform: translate(0, -50%);
      display:flex;
      align-items:center;
   }
}

.info_meta{
    margin-left:10px;
    span:first-child{
        margin-right:10px;
    }
}