@import "~@src/style/index.scss";
@import "~@src/style/var.scss";
.layout{
  height:100vh;
}
.side_layout{

}
.header_layout{
  background:#ffff;
  height:fit-content;
  border-bottom:1px solid $border-color;
}
.content_layout{
    padding:50px;
    overflow-y:scroll;
}
