@import "~@src/style/var.scss";
.list{
  background:$white-color;
}
.desc{
    width:200px;
    display:flex;
    justify-content:space-between;
    margin-right:20px;
}
.opera{
  color:$blue-color;
  padding:2px 5px;
  border-radius:3px;
  background:#eff4f5;
}