@import "~@src/style/index.scss";
@import "~@src/style/var.scss";

.form_wrap{
    margin-top:20px;
    padding:20px;
    background:$bg_white;
    border-radius:$radius_size;
    min-width:350px;
}
.form_title{
        text-align:center;
        color:$primary_font_color;
        font-size:20px;
}
.button_group{
    text-align:right;
    button{
      margin-right:10px;
    }
}
.tip{
  margin-top:10px;
  text-align:right;
  span{
    color:$blue-color;
    cursor: pointer;
  }
}
