.layout{
  height:100vh;
}
.header_layout{
  background:#fff;
}
.content_layout{
  background:url("./images/background.webp");
  background-size:100% 100%;
  background-position:center center;
  text-align:right;
}
